<!doctype html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

</head>
<body>
<form>
    <h2>Дата заполнения: {{filling_date}}</h2>
    <h2>Фамилия: {{last_name}}</h2>
    <h2>Имя: {{name}}</h2>
    <h2>Отчество: {{second_name}}</h2>
    <h2>Дата рождения: {{birthdate}}</h2>
    <h2>Национальность: {{nationality}}</h2>
    <h2>Пол: {{sex_resume}}</h2>
    <h2>Адрес (по прописке / фактическое место проживания): {{address_resume}}</h2>
    <h2>Телефон (для контакта): {{phone_resume}}</h2>
    <h2>Военная обязанность (для мужчин): {{army_resume}}</h2>
    <h2>Водительские права (категория / стаж вождения): {{licence}}</h2>
    <h2>ФИО, место работы мужа / жены: {{spouse_info}}</h2>
    <h2>ФИ Детей: {{children_info}}</h2>
    <hr>
    <h2>Члены семьи (ФИО, место работы, номер телефона)</h2>
    <h2>Отец: {{father_info}}</h2>
    <h2>Мать: {{mother_info}}</h2>
    <h2>Сестры: {{sisters_info}}</h2>
    <h2>Братья: {{brothers_info}}</h2>
    <hr>
    <h2>Образование (Название / Годы обучения / Специализация / Степень)</h2>
    <h2>- Незаконченное среднее образование: {{incomplete_secondary_education}}</h2>
    <h2>- Среднее образование: {{secondary_education}}</h2>
    <h2>- Средне-специальное образование: {{vocational_education}}</h2>
    <h2>- Высшее образование: {{high_education}}</h2>
    <h2>- Магистерская степень:{{master_degree}}</h2>
    <h2>- Докторская степень: {{doctor_degree}}</h2>
    <h2>Знание языков: устно / письменно</h2>
    <h2>Английский: {{en_lang}}</h2>
    <h2>Русский: {{ru_lang}}</h2>
    <h2>Кыргызский: {{kg_lang}}</h2>
    <h2>Другие: {{different_lang}}</h2>
    <h2>ТРУДОВАЯ ДЕЯТЕЛЬНОСТЬ (начиная с последнего места работы)</h2>
    <h2>Название организации: {{orgname}}</h2>
    <h2>Должность: {{post}}</h2>
    <h2>Укажите данные 3-х лиц, которые могут дать вам рекомендацию (Организация /
                    Должность / Телефон) {{recommendation}}</h2>
    <h2>Есть ли у вас родственники в ДКИБ: {{left_cause}}</h2>
    <h2>Укажите имена лиц, которые являются вашими родственниками перечисленных
                    ниже организациях:</h2>
    <h2>Банки и финансовые организации Кыргызстана:
                        Имя / Название банка / Должность / Родство / Tелефон {{relatives_in_banks}}</h2>
    <h2>Правительственные и другие государственные учреждения:
                        Имя / Название организации / Должность / Родство / Tелефон {{relatives_in_gov_institutions}}</h2>
    <h2>Укажите дату, с которой вы сможете начать работу в
                    ДКИБ {{beginning_of_the_work}}</h2>
    <h2>Из какого источника вы узнали о наличии вакансии на эту должность? {{info_about_work}}</h2>
    <h2>Каковы ваши ожидания по заработной плате (оклад до вычета налогов) в
                    сомах? {{wage}}</h2>
</form>

</body>
</html>